streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
streamlit-custom-notification-box

python-docx
docx2txt
python-pptx

pandas
numpy
openpyxl
sqlalchemy

plotly
matplotlib
seaborn

Pillow
reportlab

requests
python-dotenv
google-generativeai

scikit-learn
nltk
spacy

pdfminer.six
pdfplumber
pypdf
pdf2image
pytesseract

selenium
webdriver-manager

pycryptodome

docx2pdf